body {
  margin-top: 20px;
}
.panel-title {
  display: inline;
  font-weight: bold;
}
.checkbox.pull-right {
  margin: 0;
}
.pl-ziro {
  padding-left: 0px;
}

.btn-pagar {
  background: #42aeec;
  border: none;
}

.btn-pagar:hover {
  background: #2679a8;
}
